// fonts -----------------------------------

	$font-size: 14;

// colors ----------------------------------

	$color-white: #FFFFFF;
	$color-black: #000000;

	$color-text: #999999;
	$color-link: #444444;
	$color-background: #cccccc;

		$color-first: #535453;
		$color-first-light: #535453;

		$color-second: #535453;
		$color-second-light: #535453;

		$color-third: #535453;
		$color-third-light: #535453;

// layout ----------------------------------

	$num_columns: 12;
	$column-padding: 5px 15px;

// line breaks -----------------------------

	$mobile-portrait: 320px;
	$mobile-landscape: 480px;
	$tablet-portrait: 768px;
	$tablet-landscape: 1024px;

	$broken: 960px;

// animation -------------------------------

	$animation: 0.5s;
